body { font-size:62.5%; }  /* =10px */
h1   { font-size: 2.4em; } /* =24px */
p    { font-size: 1.4em; } /* =14px */
li   { font-size: 1.4em; } /* =14px? */


/* vertical gradient with brighter in middle*/
#nexus{
    background-image: url('../img/nexus.svg');
           background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
}
.nexus{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(15%);
}
.decervoWeb{
      position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    width: 100%;
}
nav ul a {
    color: inherit;
    text-decoration: none;
}
nav ul a:hover {
    color: inherit;
    text-decoration: none;
}
.homeSector{
    height: 100%;
    float: right !important;
    background-image: url('../img/eclipse.jpg');
        background-position: 50%;
    /*background-size: 80%;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutSector{
    height: 100%;
    background-color: white;
    float: right !important;
}
.projectSector {
    height: 100%;
    background-color: white;
    float: right !important;
    padding: 0px !important;
}
.projectItem{
    height: 100%;
    width: 100%;
        background: black;
        overflow: hidden ;
}
/*.projectItem:hover{
    transform: scaleY(1.03);
  -webkit-transition: .55s;
  -moz-transition: .55s;
  -o-transition: .55s;
  -ms-transition: .55s;
  overflow: hidden !important;
}*/
.moreBtn{

    position: absolute;
    text-align: center;
    top: 55%;
    font-size: 2rem;
    color: gray;
    margin: 0 auto;
    border: 1px solid;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    right: 47%;
}
.moreBtn:hover{
      -webkit-transition: .55s;
  -moz-transition: .55s;
  -o-transition: .55s;
  -ms-transition: .55s;
  color: black;
  background-color: white;
  text-decoration: none;
}
.projectTitle{
    
        position: absolute;
    width: 100%;
    /*right: 50%;*/
    text-align: center;
    top: 40%;
    font-size: 10rem;
    color: white;
    margin: 0 auto;
}
.websiteTitle{
    top:30%;
}
.websiteBtn{
    top:45%;
    color: white;
}
.nexusTitle{
    top:140%;
}
.nexusBtn{
    top:155%;
}
.title{
        /*background-color: rgba(0,0,0,.5);*/

    font-size: 80px;
    color: lightgray;
    text-align: center;
    margin-top: 50%;
    /*height: 100%;*/
}
.titleName{
      font-size: 50px;
    color:white;
    text-align: center;
}
.homepage{
    height: 100%;
    width: 100%;

    /*background-size: cover;*/
        float: left;
    /*background-color: gray;*/
}
.about{
     height: 100%;
    width: 100%;
    
    /*background-size: cover;*/
        float: left;
    /*background-color: gray;*/
}
.navigation {
    /*z-index: 99;*/
    position: fixed !important;
        padding-top: 20%;
    text-align: center;
    /*margin-left: 15%;*/
    height: 100%;
    background-color:black;
}
@media screen and (min-width: 75em) {
    .navigation {
        display: block
    }
}
.navigation_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation_item {
    cursor: pointer;
    float: left;
    height: 5%;
    width: 100%;
    position: relative;
    /*font-family: "Quantico-Bold", sans-serif;*/
    font-size: 10px;
    color: rgba(255, 255, 255, .6);
    /*list-style: none;*/
}
.navigation_item-toggle {
    float: left;
    height: 15%;
    width: 100%;
    position: relative;
    /*font-family: "Quantico-Bold", sans-serif;*/
    font-size: 50px;
    color: white !important;
    /*list-style: none;*/
}
.navigation_item:hover {
  -webkit-transition: font-size 1s, color 2s; /* Safari */
    transition: font-size 1s, color 2s;
    float: left;
    height: 15%;
    width: 100%;
    position: relative;
    /*font-family: "Quantico-Bold", sans-serif;*/
    font-size: 30px;
    color: white !important;
    /*list-style: none;*/
}
